body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


.container {
    margin: 100px auto;
    max-width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

h1 {
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.register-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.register-link:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    /* Fondo de la barra de navegación */
    color: #fff;
    /* Color de texto en la barra de navegación */
    padding: 10px 0;
}
img{
    width: 10%;
    height: 10%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}


/**/

.register-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.register-link:hover {
    text-decoration: underline;
}